<div id="<%= dom_id order %>">
  <p>
    <strong>Agrovet:</strong>
    <%= order.agrovet_id %>
  </p>

  <p>
    <strong>Order number:</strong>
    <%= order.order_number %>
  </p>

  <p>
    <strong>Product 1 quantity:</strong>
    <%= order.product_1_quantity %>
  </p>

  <p>
    <strong>Product 2 quantity:</strong>
    <%= order.product_2_quantity %>
  </p>

  <p>
    <strong>Product 3 quantity:</strong>
    <%= order.product_3_quantity %>
  </p>

  <p>
    <strong>Product 4 quantity:</strong>
    <%= order.product_4_quantity %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= order.total_amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= order.status %>
  </p>

</div>
