<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if current_user %>
    <p> Welcome <%= current_user.firstname + ' ' + current_user.lastname %> </p> 
    <p>You are a [<%= current_user.role %>]</p>
    <% if current_user.admin? %>
        there are <%= User.count %> users
    <% end %>
    <p>
    you have successfully Signed in
    </p>
    <%= link_to "sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>
    <p>you are not signed in</p>
    <%= link_to "sign up!", new_user_registration_path %>
    <%= link_to "sign in", new_user_session_path %>
<% end %>