<%# <h1>Sales rep</h1> %>
<% if current_user %>
    <p>Welcome, <%= current_user.firstname + ' ' + current_user.lastname %></p>
    <%# <p>You are a [<%= current_user.role]</p> %>
    <%= link_to "Add Agrovet +", new_agrovet_path, style: "color: #097969; text-decoration: none; font-weight: bold; font-size:20px" %>    
    <!-- Iterate through @agrovets and create links -->
    <% @agrovets.each do |agrovet| %>
        <button type="button" class="btn btn-success d-flex flex-column" style="margin-top: 10px;">
        <%= link_to "#{agrovet.name}", agrovetinfo_agrovet_path(agrovet), style: "color: #fff; text-decoration: none; font-weight: bold;" %>
        </button>
    <% end %>

    


<%# <%= link_to agrovet.name, agrovetinfo_path(agrovet), style: "color: #fff; text-decoration: none; font-weight: bold;" %>
        
    <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% end %>
